# Step 2 - Database Engineering

Use SQLAlchemy to model your table schemas and create a sqlite database for your tables. 

* You will need one table for measurements and one for stations.

* Use Pandas to read your cleaned measurements and stations CSV data.

* Use the engine and connection string to create a database called hawaii.sqlite.

* Use declarative_base and create ORM classes for each table.

* You will need a class for Measurement and for Station.
* Make sure to define your primary keys.
* Once you have your ORM classes defined, create the tables in the database using create_all.

In [1]:
# Dependencies
import os
import pandas as pd

In [2]:
def read_base_file(data_folder, base_file):
    file_csv = os.path.join(data_folder,base_file)
    try:
        df = pd.read_csv(file_csv)
    except (IOException, e):
        print ("Error in reading", base_file)
        print (e)
        df = pd.DataFrame()
    return df

In [3]:
# CSV files to load

if os.path.isfile('./hawaii.sqlite'):    # True
    !rm hawaii.sqlite
    
data_folder = 'Resources'
base_file1 = 'clean_measurements.csv'
measurements_df = read_base_file(data_folder,base_file1)
base_file2 = 'clean_stations.csv'
stations_df = read_base_file(data_folder,base_file2)

In [4]:
# Add column id to measurements and stations.

measurements_df.insert(0, 'id', range(1, 1 + len(measurements_df)))
stations_df.insert(0, 'id', range(1, 1 + len(stations_df)))

measurements_df.head()

   id      station        date  prcp  tobs
0   1  USC00519397  2010-01-01  0.08    65
1   2  USC00519397  2010-01-02  0.00    63
2   3  USC00519397  2010-01-03  0.00    74
3   4  USC00519397  2010-01-04  0.00    76
4   5  USC00519397  2010-01-06  0.03    73

In [5]:
stations_df.head()

,id,station,name,latitude,longitude,elevation
0,1,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,2,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,3,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,4,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,5,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [6]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.orm import Session

from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import ( Column, 
                         Integer, 
                         String, 
                         Boolean,
                         DateTime, 
                         Text,
                         Float
)

In [7]:
# Create an engine to a SQLite database file called `hawaii.sqlite`
engine = create_engine("sqlite:///hawaii.sqlite")

In [8]:
# Create a connection to the engine called `conn`
conn = engine.connect()

In [9]:
# Use `declarative_base` from SQLAlchemy to model the measurements table an station table as an ORM classes

Base = declarative_base()

class Measurement(Base):
    __tablename__ = 'measurement'
    id = Column(Integer, primary_key=True)
    station = Column(String)
    date = Column(String)
    prcp = Column(Float)
    tobs = Column(Integer)

class Station(Base):
    __tablename__ = 'station'
    id = Column(Integer, primary_key=True)
    station = Column(String)
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [10]:
# Use `create_all` to create the measurement and station tables in the database
Base.metadata.create_all(engine)

In [11]:
# Use Orient='records' to create a list of data to write
# to_dict() cleans out DataFrame metadata as well

data_stations = stations_df.to_dict(orient='records')
data_measurements= measurements_df.to_dict(orient='records')

In [12]:
# Use MetaData from SQLAlchemy to reflect the tables
metadata = MetaData(bind=engine)
metadata.reflect()

In [13]:
# Save the reference to the `stations` table as a variable called `table_stations`
table_station = sqlalchemy.Table('station', metadata, autoload=True)
table_measurement = sqlalchemy.Table('measurement', metadata, autoload=True)

conn.execute(table_station.delete())
conn.execute(table_measurement.delete())

In [14]:
# Use `table.insert()` to insert the data into the table
# The SQL table is populated during this step
conn.execute(table_station.insert(), data_stations)
conn.execute(table_measurement.insert(), data_measurements)